{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"eslint-config-prettier"
	],
	"env": {
		"es6": true,
		"jest": true,
		"node": true
	},
	"rules": {
		"semi": ["error", "always"],
		"quotes": ["error", "single"],
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/ban-ts-comment": "error",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/no-var-requires": "off",
		"no-control-regex": "off"
	}
}
